footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer a:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--nav-underline-color);
  }

footer .footer {
  max-width: 1200px;
  margin: auto;
  
}

footer .footer p {
  margin: 0px;  
  text-align: center;
  width: auto;
  padding: 5px;
}

footer .footer img {
  display: block;
  margin: auto;  
}
